
.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    padding: 20px;
    background: #d0cece;
}
.carousel-container {
    max-width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .carousel-container {
        display: flex;
        justify-content: center;
    }
}
.carousel-item img {
    width: 1000px;
    height: 700px;
}

.navbar {
    background-color: #277a2b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.navbar .navbar-brand {
    display: none;
    color: #fff;
}

.navbar-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    margin: 0 15px;
}

.right-links a {
    margin: 0 15px;
}

.navbar-links li a:hover {
    color: yellow;
}

.navbar-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
}

#loginLink,
#signupLink {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial;
}

#loginLink:hover,
#signupLink:hover {
    color: #ee2e2e;
}


@media (max-width: 768px) {
    .navbar .navbar-brand {
        display: block;
    }

    .navbar .navbar-links {
        display: none;
        flex-direction: column;
        align-items: flex-end;
    }

    .navbar .navbar-links li {
        margin: 10px 0;
    }

    .navbar-toggle {
        display: block;
    }
}

<!-- -->

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5%;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    <!--height: 800px;
    width: 400px;-->

    height: 80%;
    width: 80%;
}

.centered-content {

    display: flex;
    justify-content: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
