body {
    margin: 20px;
    font-family: sans-serif;
    background: linear-gradient(rgba(0,0,0,0.5),darkgreen);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: inherit;
    height: 100vh;

}

#header1 {
    font-size: 50px;
    color: black;
    font-weight: bold;
    font-family: Tahoma;
    text-align: center;
}
#header1:hover{
    color: green;
}

.container-wrapper {
    border-radius: 20px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 30px;
    background-color: #52514e;
}

.container2 {
    padding: 30px;
    height: 100%;
    background-color: #888888 ;
    border: 0px solid #ccc;
    box-sizing: border-box;
}

#conBio {
    height: 90%;
    padding: 30px;
    background-color: #e8ca54;
    text-align: center;
}
.container {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    padding: 30px;
    background-color: #faea53;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.container1 {
    border-radius: 20px;
    padding: 30px;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border: 0px solid #483535;
    box-sizing: border-box;
    margin-right: 15px;
}
.container4 h1 {
    text-align: center;
    font-weight: bold;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}