.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text4 {
  margin-left: var(--dl-space-space-twounits);
}








@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.registration-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #f7f7f7;
}
.registration-header {
  color: var(--dl-color-gray-black);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.registration-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.registration-image1 {
  height: 2rem;
}
.registration-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.registration-burger-menu {
  display: none;
}
.registration-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.registration-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.registration-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.registration-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.registration-image2 {
  height: 2rem;
}
.registration-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.registration-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.registration-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.registration-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.registration-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.registration-text {
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: 2;
}
.registration-container2 {
  width: 80%;
  height: 100%;
  display: flex;
  align-self: center;
  box-shadow: 10px 5px 20px 0px #6b6b6b;
  align-items: center;
  border-color: #ffffff;
  border-width: 0px;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(to right, #f1f2b5 0%, #135058 100%);
}
.registration-container2 {
  width: 90%;
  height: 576px;
  display: flex;
  padding: 10px;
  position: relative;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  background-color: rgba(167, 161, 161, 0.28);
}
.registration-image3 {
  width: 434px;
  height: 507px;
  margin: 20px;
  align-self: center;
  box-shadow: -5px 5px 40px 20px #4a4a4a;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
}
.registration-container1 {
  flex: 1;
  width: 480px;
  height: 527px;
  margin: 20px;
  display: flex;
  padding: 20px;
  position: relative;
  align-self: center;
  align-items: flex-start;
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.49);
}
.registration-text01 {
  text-align: left;
}
.registration-textinput {
  width: 400px;
  align-self: center;
  text-align: center;
  background-color: #fbf0c4;
}
.registration-text02 {
  text-align: left;
}
.registration-textinput01 {
  width: 400px;
  align-self: center;
  text-align: center;
  background-color: #fbf0c4;
}
.registration-text03 {
  text-align: left;
}
.registration-textinput02 {
  width: 400px;
  align-self: center;
  text-align: center;
  background-color: #fbf0c4;
}
.registration-text06 {
  text-align: left;
}
.registration-textinput03 {
  width: 400px;
  align-self: center;
  text-align: center;
  background-color: #fbf0c4;
}
.registration-text07 {
  text-align: left;
}
.registration-textinput04 {
  width: 400px;
  align-self: center;
  text-align: center;
  background-color: #fbf0c4;
}
.registration-text08 {
  text-align: left;
}
.registration-textinput05 {
  width: 400px;
  align-self: center;
  text-align: center;
  background-color: #fbf0c4;
}
.registration-text09 {
  text-align: left;
}
.registration-textinput06 {
  width: 400px;
  align-self: center;
  text-align: center;
  background-color: #fbf0c4;
}
.registration-text10 {
  text-align: left;
}
.registration-textinput07 {
  width: 400px;
  align-self: center;
  text-align: center;
  background-color: #fbf0c4;
}
.registration-button {
  flex: 1;
  color: rgb(255, 255, 255);
  width: var(--dl-size-size-medium);
  padding: 0px;
  align-self: center;
  text-align: center;
  font-weight: bold;
  border-width: 0px;
  background-color: rgb(0, 140, 65);
}
.registration-button1 {
  flex: 1;
  color: rgb(255, 255, 255);
  width: var(--dl-size-size-medium);
  padding: 0px;
  align-self: center;
  text-align: center;
  font-weight: bold;
  border-width: 0px;
  background-color: rgb(0, 140, 65);
}
.registration-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.registration-container4 {
  flex: 0 0 auto;
  width: 90%;
  height: auto;
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
  margin-bottom: 20px;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(167, 161, 161, 0.28);
}
.registration-container11 {
  flex: 1;
  width: 480px;
  height: 509px;
  margin: 20px;
  display: flex;
  padding: 20px;
  align-self: center;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.49);
}
.registration-textinput08 {
  height: 62px;
  align-self: center;
  text-align: center;
  background-color: var(--dl-color-success-700);
}
.registration-textinput09 {
  height: 62px;
  align-self: center;
  text-align: center;
  background-color: var(--dl-color-success-700);
}
.registration-textinput10 {
  height: 60px;
  align-self: center;
  text-align: center;
  background-color: var(--dl-color-success-700);
}
.registration-textinput11 {
  height: 67px;
  align-self: center;
  text-align: center;
  background-color: var(--dl-color-success-700);
}
.registration-textinput12 {
  height: 71px;
  align-self: center;
  text-align: center;
  background-color: var(--dl-color-success-700);
}
.registration-textinput13 {
  height: 80px;
  align-self: center;
  text-align: center;
  background-color: var(--dl-color-success-700);
}
.registration-textinput14 {
  height: 77px;
  align-self: center;
  text-align: center;
  background-color: var(--dl-color-success-700);
}
.registration-textinput15 {
  height: 78px;
  align-self: center;
  text-align: center;
  background-color: var(--dl-color-success-700);
}
.registration-button2 {
  flex: 1;
  color: rgb(255, 255, 255);
  width: var(--dl-size-size-medium);
  height: auto;
  padding: 0px;
  align-self: center;
  text-align: center;
  font-weight: bold;
  border-width: 0px;
  background-color: rgb(0, 140, 65);
}
.registration-button3 {
  flex: 1;
  color: rgb(255, 255, 255);
  width: var(--dl-size-size-medium);
  height: auto;
  padding: 0px;
  align-self: center;
  text-align: center;
  font-weight: bold;
  padding-top: 0px;
  border-width: 0px;
  background-color: rgb(0, 140, 65);
}
.registration-image4 {
  width: 455px;
  height: 509px;
  margin: 20px;
  align-self: center;
  box-shadow: -5px 5px 40px 10px #1d1d1d;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
}
.registration-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.registration-container5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.registration-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.registration-image5 {
  height: 2rem;
}
.registration-text38 {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.registration-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.registration-container6 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.registration-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.registration-text44 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.registration-text45 {
  margin-bottom: var(--dl-space-space-unit);
}
.registration-text46 {
  margin-bottom: var(--dl-space-space-unit);
}
.registration-text47 {
  margin-bottom: var(--dl-space-space-unit);
}
.registration-company-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.registration-text49 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.registration-text50 {
  margin-bottom: var(--dl-space-space-unit);
}
.registration-text51 {
  margin-bottom: var(--dl-space-space-unit);
}
.registration-text52 {
  margin-bottom: var(--dl-space-space-unit);
}
.registration-container7 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.registration-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.registration-text54 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.registration-text55 {
  margin-bottom: var(--dl-space-space-unit);
}
.registration-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.registration-text57 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.registration-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.registration-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
}
.registration-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
}
.registration-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.registration-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.registration-text58 {
  align-self: center;
}
.registration-text60 {
  text-align: left;
}
.registration-social-bar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  justify-content: center;
}
.registration-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.registration-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.registration-icon20 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.registration-icon22 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.registration-icon24 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.registration-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.registration-image6 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 1200px) {
  .registration-container {
    z-index: 100;
    box-shadow: 50px 5px 10px 0px #4c4c4c;
  }
  .registration-header {
    width: 1199px;
  }
  .registration-container2 {
    align-self: center;
    align-items: center;
    justify-content: flex-start;
  }
  .registration-container11 {
    height: 601px;
  }
  .registration-image4 {
    width: 50%;
    height: 594px;
    margin-bottom: 0px;
  }
}
@media(max-width: 991px) {
  .registration-header {
    width: 990px;
  }
  .registration-container2 {
    padding: 20px;
    align-items: center;
    justify-content: flex-start;
  }
  .registration-image3 {
    width: 268px;
    height: 560px;
    padding-top: 0px;
  }
  .registration-container1 {
    width: 581px;
  }
  .registration-container4 {
    width: 713px;
  }
  .registration-image4 {
    width: 222px;
  }
  .registration-footer {
    flex-direction: column;
  }
  .registration-container6 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .registration-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .registration-container {
    align-items: center;
    justify-content: center;
  }
  .registration-header {
    width: 766px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .registration-nav {
    display: none;
  }
  .registration-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .registration-container2 {
    height: 938px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .registration-image3 {
    width: 531px;
    height: 300;
    padding-top: 0px;
    padding-right: 0px;
  }
  .registration-container1 {
    width: 90%;
    height: 563px;
    align-self: center;
  }
  .registration-container4 {
    width: 586px;
    height: 1215px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .registration-container11 {
    width: 90%;
    height: 563px;
    align-self: center;
  }
  .registration-image4 {
    width: 531px;
    height: 300;
  }
  .registration-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .registration-container5 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .registration-logo {
    align-items: center;
  }
  .registration-image5 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .registration-text38 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .registration-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .registration-container6 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .registration-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
  .registration-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .registration-gallery-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .registration-header {
    width: 478px;
    padding: var(--dl-space-space-unit);
    margin-right: 0px;
  }
  .registration-mobile-menu {
    padding: 16px;
  }
  .registration-container2 {
    height: 929px;
    flex-direction: column;
  }
  .registration-image3 {
    width: 300px;
    height: 234px;
  }
  .registration-container1 {
    height: 469px;
    align-self: center;
  }
  .registration-textinput {
    width: 200px;
  }
  .registration-textinput01 {
    width: 200px;
  }
  .registration-textinput02 {
    width: 200px;
  }
  .registration-textinput03 {
    width: 200px;
  }
  .registration-textinput04 {
    width: 200px;
  }
  .registration-textinput05 {
    width: 200px;
  }
  .registration-textinput06 {
    width: 200px;
  }
  .registration-textinput07 {
    width: 200px;
  }
  .registration-container4 {
    flex-direction: column;
  }
  .registration-container11 {
    width: 306px;
    align-self: center;
  }
  .registration-image4 {
    width: 311px;
  }
  .registration-footer {
    padding: var(--dl-space-space-unit);
  }
  .registration-container5 {
    align-items: center;
    flex-direction: column;
  }
  .registration-image5 {
    margin-bottom: 0px;
  }
  .registration-text38 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .registration-links-container {
    align-items: center;
    flex-direction: column;
  }
  .registration-container6 {
    margin-right: 0px;
  }
  .registration-container7 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .registration-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .registration-text58 {
    text-align: center;
  }
  .registration-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .registration-image6 {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
}
